In [0]:
# Importamos las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [7]:
movies = pd.read_csv('peliculas.csv')
movies.head()

                                         movie_title  ...        gross
0                                            Avatar   ...  760505847.0
1          Pirates of the Caribbean: At World's End   ...  309404152.0
2                                           Spectre   ...  200074175.0
3                             The Dark Knight Rises   ...  448130642.0
4  Star Wars: Episode VII - The Force Awakens    ...  ...          NaN

[5 rows x 19 columns]

In [8]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                5043 non-null   object
 1   title_year                 4935 non-null   float64
 2   color                      5024 non-null   object
 3   aspect_ratio               4714 non-null   float64
 4   duration                   5028 non-null   float64
 5   language                   5031 non-null   object
 6   country                    5038 non-null   object
 7   duration.1                 5028 non-null   float64
 8   genres                     5043 non-null   object
 9   content_rating             4740 non-null   object
 10  plot_keywords              4890 non-null   object
 11  director_name              4939 non-null   object
 12  actor_1_name               5036 non-null   object
 13  actor_2_name               5030 non-null   object
 14  actor_3_name               5020 non-null   object
 15  cast_total_facebook_likes  5043 non-null   int64
 16  budget                     4551 non-null   float64
 17  imdb_score                 5043 non-null   float64
 18  gross                      4159 non-null   float64
dtypes: float64(7), int64(1), object(11)
memory usage: 748.7+ KB

In [10]:
print(movies['title_year'].dtype == float)

True

In [11]:
num_cols = [c for c in movies.columns if (movies[c].dtype == float)| (movies[c].dtype == 'int64')]
movies_num = movies[num_cols]
movies_num.head()

   title_year  aspect_ratio  duration  ...       budget  imdb_score        gross
0      2009.0          1.78     178.0  ...  237000000.0         7.9  760505847.0
1      2007.0          2.35     169.0  ...  300000000.0         7.1  309404152.0
2      2015.0          2.35     148.0  ...  245000000.0         6.8  200074175.0
3      2012.0          2.35     164.0  ...  250000000.0         8.5  448130642.0
4         NaN           NaN       NaN  ...          NaN         7.1          NaN

[5 rows x 8 columns]

In [12]:
pd.read_csv('thenumbers.csv').head()

   Unnamed: 0  ...                                        movie_title
0           0  ...                                            Avatar
1           1  ...  Star Wars: Episode VII - The Force Awakens    ...
2           2  ...          Pirates of the Caribbean: At World's End
3           3  ...                                           Spectre
4           4  ...                             The Dark Knight Rises

[5 rows x 8 columns]

In [13]:
financials = pd.read_csv('thenumbers.csv')
financials = financials[['movie_title', 'production_budget', 'worldwide_gross']]
financials.head()

                                         movie_title  ...  worldwide_gross
0                                            Avatar   ...       2783918982
1  Star Wars: Episode VII - The Force Awakens    ...  ...       2058662225
2          Pirates of the Caribbean: At World's End   ...        963420425
3                                           Spectre   ...        879620923
4                             The Dark Knight Rises   ...       1084439099

[5 rows x 3 columns]

In [14]:
movies_num =pd.concat([movies_num, movies['movie_title']], axis = 1) # por defecto se concatena line por linea " axis = 0 ", pero si lo queremos es concatenar
                                                         # columna por columna escribimos " axis = 1 "  
movies_num.head()

   title_year  ...                                        movie_title
0      2009.0  ...                                            Avatar
1      2007.0  ...          Pirates of the Caribbean: At World's End
2      2015.0  ...                                           Spectre
3      2012.0  ...                             The Dark Knight Rises
4         NaN  ...  Star Wars: Episode VII - The Force Awakens    ...

[5 rows x 9 columns]

In [15]:
#Hacemos la fusión de los dataframes "financials" y "movies_num" con "pd.merge()"
#le pasamos los 2 dataframes a juntar , a "on" le pasamos la  clave que nos va a relacionar ambos dataframes, porque aparece en ambas.
# a "how" le decimos que el largo debe de ser como el largo de las columnas de las claves de el dataset izquierdo
movies_v2 = pd.merge(financials, movies_num, on= 'movie_title', how ='left') 
movies_v2.head()

                                         movie_title  ...        gross
0                                            Avatar   ...  760505847.0
1  Star Wars: Episode VII - The Force Awakens    ...  ...          NaN
2          Pirates of the Caribbean: At World's End   ...  309404152.0
3                                           Spectre   ...  200074175.0
4                             The Dark Knight Rises   ...  448130642.0

[5 rows x 11 columns]

In [16]:
movies_v2.notnull().head()

   movie_title  production_budget  worldwide_gross  ...  budget  imdb_score  gross
0         True               True             True  ...    True        True   True
1         True               True             True  ...   False        True  False
2         True               True             True  ...    True        True   True
3         True               True             True  ...    True        True   True
4         True               True             True  ...    True        True   True

[5 rows x 11 columns]

In [18]:
# "pd.Series.value_counts" lo que hace es contar en una columna cuántos elementos hay del mismo valor. En este caso, tenemos True o False
#"apply" es una función que nos evita hacer un for loop manualmente
#Ahora lo que va a hacer el "apply" es que columna por columna va a aplicar "pd.Serie.value_counts" y con ello obtendremos cuántos elementos nulos tenemos en cada columna
movies_v2.notnull().apply(pd.Series.value_counts)

       movie_title  production_budget  ...  imdb_score  gross
False          NaN                NaN  ...         NaN    671
True        4385.0             4385.0  ...      4385.0   3714

[2 rows x 11 columns]

In [19]:
#Ahora haremos lo mismo que antes para poder ver las filas que al menos tengan un valor nulo o vacío
#Primero a available le pasamos todo el dataframe con indicaciones de true si es un valor no nulo o no vacío
available = ((movies_v2 !=0) & (movies_v2.notnull()))
available.head()

   movie_title  production_budget  worldwide_gross  ...  budget  imdb_score  gross
0         True               True             True  ...    True        True   True
1         True               True             True  ...   False        True  False
2         True               True             True  ...    True        True   True
3         True               True             True  ...    True        True   True
4         True               True             True  ...    True        True   True

[5 rows x 11 columns]

In [20]:
#Ahora, mostraremos si en cada line tenemos al menos un valor nulo o vacío
available.all(axis=1) # all es para que revise toda la linea y "axis = 1" es para que lo haga con cada "columna"

0        True
1       False
2        True
3        True
4        True
        ...
4380    False
4381    False
4382    False
4383    False
4384     True
Length: 4385, dtype: bool

In [21]:
#y con value counts veremos cuántos valores son falsos y cuantos son True: Cuantas filas tienen o no valores nulos o vacíos

available.all(axis=1).value_counts()

True     3408
False     977
dtype: int64